.header {
  width: 100%;
  padding: 20px;
  background-color: rgb(69, 255, 255);
}
.nav {
  display: flex;
  justify-content: space-around;
  width: 20%;
  align-items: center;
}
.navLink {
  text-decoration: none;
  color: #000;
  font-size: 20px;
}
.navLinkActive {
  text-decoration: none;
  color: #76c4ff;
  font-size: 20px;
}
.navLink:hover {
  text-decoration: underline;
}
